<!DOCTYPE html> 
<html lang="en">
<head> 
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello to Arshiyan's Future</title>
</head>
<body>
    <h1 id="message">Future In-Progress…</h1> 

    <script>
        fetch("http://127.0.0.1:5000/api/hello")
            .then(response => response.json())
            .then(data => {
                document.getElementById("message").innerText = data.message; 
            }) 
            .catch(error => console.error("Error:", error));
    </script>
</body>
</html>

